.Footer {
  @include flex(space-between);

  width: 92%;
  margin: 0 auto;
  padding: 3rem 0rem 4rem;

  @media (max-width: $lg-mobile) {
    flex-direction: column;
  }

  @media (max-width: $mobile) {
    width: 85%;
    padding: 2rem 0;
  }

  @media (max-width: $sm-mobile) {
    width: 80%;
  }

  nav {
    @media (max-width: $lg-mobile) {
      margin-top: 1rem;
      text-align: center;
    }
    a {
      padding: 0.3rem 0;
      text-transform: uppercase;
      font-weight: bold;
      color: $blue;
      font-size: 0.9rem;

      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}
