@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  //   font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li {
  list-style: none;
}

span {
  display: inline-block;
}

.Parent-wrapper {
  color: #333;
}

.dark-mode {
  background: #050e1a;
  //   background: #031122;

  color: $white;

  .Header-wrapper {
    .aboutme {
      h1 {
        color: #f5f5f5;

        span {
          color: $white;
        }
      }
    }
  }

  .aboutme-container {
    p {
      color: #afafbf;

      span {
        color: $white;
      }
    }
  }

  ul {
    li {
      color: $dark-white;
    }
  }

  footer {
    color: $dark-white;
  }
}
