.Navbar {
  @include flex(flex-end);
  height: 5vh;
  padding: 0 2rem;
  @media (max-width: $sm-mobile) {
    padding: 0 1rem;
  }

  .darkmode {
    display: flex;
    align-items: center;

    .day-icon {
      font-size: 1.1rem;
      padding-top: 0.4rem;
    }
  }
}

.wrapper {
  height: 81vh;

  @media (max-width: $sm-mobile) {
    height: 100vh;
  }

  .goup {
    font-size: 1.8rem;
    position: fixed;
    cursor: pointer;
    right: 1rem;
    bottom: 1rem;
    display: none;

    @media (max-width: $lg-mobile) {
      font-size: 1.5rem;
    }
  }

  .showHand {
    display: block;
  }
}
.Header {
  max-width: 1300px;
  margin: 11rem auto;

  @media (max-width: $desktop) {
    max-width: 1000px;
  }

  @media (max-width: $fix-header) {
    max-width: 800px;
  }

  @media (max-width: $med-desktop) {
    max-width: 700px;
    padding: 0 4rem;
  }

  @media (max-width: $sm-mobile) {
    margin: 8rem 0;
  }

  @media (max-width: $sm-mobile) {
    margin: 8rem 0;
  }

  @media (max-width: $extra-sm) {
    margin: 5rem auto;
  }

  .Header-wrapper {
    width: 55%;
    @media (max-width: $desktop) {
      width: 80%;
    }
    @media (max-width: $med-desktop) {
      width: 100%;
    }

    h1 {
      margin-bottom: 12rem;
      font-weight: lighter;
      font-size: 2.5rem;

      @media (max-width: $med-desktop) {
        font-size: 2rem;
      }

      @media (max-width: $mobile) {
        font-size: 1.6rem;
      }

      @media (max-width: $sm-mobile) {
        margin-bottom: 8rem;
      }
      @media (max-width: $extra-sm) {
        font-size: 1.4rem;
      }

      .name {
        font-weight: bold;
        text-transform: capitalize;
      }
    }

    .email-me {
      font-size: 1.2rem;
      @media (max-width: $med-desktop) {
        font-size: 1.1rem;
      }
      @media (max-width: $med-desktop) {
        font-size: 0.9rem;
      }

      p {
        span {
          margin-left: 1rem;
          border-bottom: 2px solid $blue;
          cursor: pointer;
          @media (max-width: $med-desktop) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
