#ProjectModal {
  //   border: 1px solid red;

  #ProjectModal-btn {
    width: 335px;
    //  height: 300px;
    @media (max-width: $sm-mobile) {
      width: 220px;
      height: 170px;
    }

    @media (max-width: $tablet) {
      width: 270px;
      height: 180px;
    }
    //  height: 500px;

    margin-bottom: 2rem;

    button {
      // border: 1px solid red;
      margin: 0;
      padding: 0;
    }
  }
}

#project-info {
  padding: 2rem;

  .project-title {
    text-transform: uppercase;
    margin: 1rem 0 2rem;

    font-size: 0.9rem;
    //  color: rgb(30, 77, 206);
  }
  #img-project {
    //  border: 1px solid red;
    img {
      width: 100%;
      // border: 1px solid red;
      height: 320px;
      object-fit: cover;
      border-radius: 4px;

      @media (max-width: $sm-mobile) {
        height: 200px;
      }
    }
  }

  .single-project-description {
    //  border: 1px solid red;
    margin-top: 2rem;
    p {
      font-size: 0.9rem;
      font-weight: lighter;
      margin-bottom: 2.5rem;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: rgb(30, 77, 206);
      color: $blue;
    }

    .tec-use {
      // border: 1px solid blue;

      h3 {
        margin-bottom: 0.5rem 0;
        color: rgb(30, 77, 206);
        color: $blue;

        font-size: 1rem;
      }
    }

    .page-btns {
      // border: 1px solid red;

      a {
        //   border: 1px solid red;
        padding: 0.2rem 1rem;
        font-size: 0.9rem;
        font-weight: lighter;
        //   color: #333;
        border: 1px solid grey;
        border-radius: 4px;
        text-transform: capitalize;

        &:first-child {
          margin-right: 0.5rem;
        }

        &:visited {
          color: #afafbf;
        }
      }
    }
  }
}

#btn-close {
  //   background: red;
  display: flex;
  justify-content: flex-end;
  //   border: 1px solid red;

  padding: 0 2rem 2rem;
  button {
    text-transform: capitalize;
    font-weight: lighter;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    background: none;
    outline: none;
    cursor: pointer;

    &:hover {
      background: none;
    }
  }
}
