$blue: rgb(63, 98, 196);

$white: #f4f4f4;
$black: #333;
$green: #64ffda;
$dark-white: #afafbf;
$second-white: #ccd6f6;
// $dark-white: #8892b0; decide for color
$darker-white: #8892b0;

// 950px
$desktop: 1600px;
$med-desktop: 1000px;
$fix-header: 1100px;
$sm-desktop: 800px;
$lg-mobile: 600px;
$mobile: 500px;
$tablet: 414px;
$sm-mobile: 375px;
$extra-sm: 320px;

// $med-desktop: 1450px;
// $sm-desktop: 1180px;
$s-laptop: 900px;
$m-laptop: 850px;
$laptop: 800px;
$lg-phone: 650px;
$med-phone: 500px;
$galaxy: 414px;
