$blue: rgb(63, 98, 196);
$white: #f4f4f4;

$dark-white: #afafbf;

$desktop: 1600px;
$med-desktop: 1000px;
$sm-desktop: 800px;
$lg-mobile: 600px;
$mobile: 500px;
$tablet: 414px;
$sm-mobile: 375px;
$extra-sm: 320px;
